<%= render 'components/navbar' %>

<div class="m-5">
    <h1>latest tier list</h1>
    <p> To change the view, enter this line in the console below: "toggle_songs_points".Then, reload the page. I didn't feel like doing the AJAX for this mockup. </p>

    <div class="mt-5 mx-3">
        <% if $listing_songs %>
            <div class="mb-5">
                <h2><span> S Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @stier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

            <div class="mb-5">
                <h2><span> A Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @atier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

            <div class="mb-5">
                <h2><span> B Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @btier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

            <div class="mb-5">
                <h2><span> C Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @ctier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

            <div class="mb-5">
                <h2><span> D Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @dtier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

            <div class="mb-5">
                <h2><span> F Tier </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @ftier.each do |song| %>
                        <%= render partial: "components/song_card", locals: {song: song} %>
                    <%end%>
                </div>
            </div>

        <%else%>
            <div class="mb-5">
                <h2><span> People </span></h2>
                <div class="d-flex flex-column align-items-center">
                    <% @people.each do |person| %>
                        <%= render partial: "components/person_card", locals: {person: person} %>
                    <%end%>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</div>
<% console %>
